<library path="lib/libcontrollers">

  <class name="TorqueController/CartesianTorqueController" type="TorqueController::CartesianTorqueController" base_class_type="controller_interface::ControllerBase">
    <description>
      Controller che segue una traiettoria in cartesiano calcolando le coppie da applicare 
      ai motori. Utilizza la cinematica inversa interna.
      
    </description>
    </class>

    <class name="PickAndPlaceController/PickAndPlaceController" type="PickAndPlaceController::PickAndPlaceController" base_class_type="controller_interface::ControllerBase">
    <description>
        Controller per il pick and place di una vite in cartesiano.
    </description>
    </class>

    <class name="controllers/CartesianImpedanceController" type="controllers::CartesianImpedanceController" base_class_type="controller_interface::ControllerBase">
    <description>
        Controller che segue una traiettoria in cartesiano applicando coppie. Senza cinematica inversa.
    </description>
    </class>

    <class name="controllers/PickAndPlaceController" type="controllers::PickAndPlaceController" base_class_type="controller_interface::ControllerBase">
      <description>
          Controller che segue una traiettoria in spazio giunti.
      </description>
      </class>
  
</library>



<!-- 
<library path="lib/lib<name_of_your_controller_library>">
  <class name="name_of_your_controller_package/NameOfYourControllerClass"
         type="name_of_your_controller_package::NameOfYourControllerClass"
         base_class_type="controller_interface::ControllerBase">
    <description>
      Some text to describe what your controller is doing
    </description>
  </class>
</library> -->